<% layout("/layouts/boilerplate") %>
<script>
    const mapToken="<%= process.env.MAP_TOKEN %>"; 
    const mapCoordinates = "<%- JSON.stringify(listing.geometry.coordinates) %>";
</script>
<body>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-sm-10">
            <h3><%= listing.title %></h3>
            <div class="card card-no-border mb-3" style="border: none;">
                <img src="<%= listing.image.url%>" class="img-info card-img-top" alt="image">
                <div class="card-body">
                    <p><i> <b>Posted By: &nbsp;</b><%= listing.owner.username  %></i></p>
                    <p class="card-text"><li><%= listing.description %></li></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">&#8377;&nbsp;<%= listing.price.toLocaleString("en-IN") %></li>
                        <li class="list-group-item"><%= listing.location %></li>
                        <li class="list-group-item"><%= listing.country %></li>
                    </ul>
                    <% if(currUser){ %>
                    <div class="container mt-2">
                <!-- Add Review Button -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal">
                              Add Review
                        </button>
                    </div>
                    <% } %>
                    <br>
                    <% if(listing.reviews.length> 0){ %>
                    <div class="row">
                        <h6>All Reviews</h6>
                        <% for (review of listing.reviews) { %>
                            <div class="col-lg-5 col-md-6 col-sm-12 mb-3 ms-lg-5">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class="card-title"><%= review.author.username  %></h5>
                                            <% if(currUser && review.author && currUser._id.equals(review.author._id)) { %>
                                            <div class="dropdown">
                                                 <button class="btn p-0 border-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h" style="font-size: 25px;"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post" onsubmit="return confirm('Are you sure you want to delete this review?');">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                        <p class="starability-result card-text" data-rating="<%= review.rating %>">Rated: <%= review.rating %> stars</p>
                                        <p class="card-text"><%= review.comment %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <hr>
                    <% } %>
                    <h3>Where you'll be</h3>
                        <div class="col-12 offset-0 mb-3">
                            <div id="map" style="width: 100%; height: 400px;"></div>
                        </div>
                </div>
            </div>
        <% if(currUser && currUser._id.equals(listing.owner._id)) {%>
            <div class="action-btn d-flex">
                <form action="/listings/<%= listing._id %>/edit" method="get">
                    <button class="btn btn-primary">Edit</button>
                </form>
                <br>
                <form action="/listings/<%= listing._id %>/delete?_method=DELETE" method="post">
                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
    </div>
<!--  -->
    <% if(currUser){ %>
    <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reviewModalLabel">Add Your Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/listings/<%= listing._id%>/reviews" class="needs-validation" novalidate >
                        <!-- <input type="range" class="form-range" id="rating" name="review[rating]" min="1" max="5" required> -->
                        <div class="mb-3">
                            <label for="rating"class="form-label">Rate Us</label>
                            <fieldset class="starability-coinFlip">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                        <div class="mb-3">
                            <label for="Comment" class="form-label">Comment</label>
                            <textarea name="review[comment]" id="Comment" class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                Please add your experience before submitting.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</body>
<script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
<script src="/Script/map.js"></script>

